body, h1, h2, h3, h4, select, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

/* header */

.header-icon {
    width:20px;
    padding: 5px;
    border:1px solid #e6dede;
    border-radius: 50%;
}

.header-icon:hover{
    background-color: #7fa7e6;
    border-radius: 50%;
}

.who-logo {
    max-width: 150px;
}

.header-container--menu-icon-container--menu-settings h3 {
    color: #0b266c;
}

.header-container{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0b266c;
}

.header-container--menu-icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.header-container--menu-icon-container--menu-settings{
    display: flex;
    gap:5px;
    justify-content: space-around;
    align-items: center;
}

.header-container--menu-icon-container--user-profile{
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-container--menu-icon-container--user-profile--profile-name{
    text-align: right;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color:#0b266c;
}

.header-container--menu-icon-container--user-profile--profile-icon{
    display: flex;
    gap: 3px;
}

.search-container{
    display: flex;
    gap:3rem;
    padding:15px 5px;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.search-container input[type="text"], 
input[type="date"] {
    border-radius: 4px;
    height: 30px;
    padding: 10px 5px 10px 15px;
    
}

.search-container--select-field{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
}

.home-section{
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
}

.download-icon{
    width:20px;
    padding: 5px;
    border:1px solid #e6dede;
    border-radius: 50%;
}

.download-icon:hover{
    background-color: #7fa7e6;
    border-radius: 50%;
}


/* aside */

.event-container{
    display: flex;
    margin: 10px 15px;
}

.total-events-container{
    margin-top: 20px;
}

.event-container--current-event-card--current-event--current-events-heading{
    display: flex;
    justify-content: space-between;
}

.event-container--current-event-card--current-event{
    margin-bottom: 15px;
}

.event-container--current-event-card--current-event h3{
    color: #304e89;
    margin: 10px;
}

.event-container--current-event-card{
    width: 25%;
    margin-right: 10px;
}

.event-container--current-event-card--current-event--disease-card{
    flex-direction: column;
    display: flex;
    border-radius: 15px;
    border:1px solid grey;
}

.disease-description{
    background-color: #ddeef9;
    border-radius: 15px 15px 0px 0px;
}

.disease-description h3 {
    margin: 10px 20px;
}

.region-card{
    margin: 0px;
}

.event-container--current-event-card--current-event--disease-card--disease-description--region-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}

.live-status{
    border-radius: 10px;
    padding: 2px 10px;
    background: #ffffff;
}

.event-container--current-event-card--current-event--disease-card--infection-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}


/* main */

main{
    flex-grow: 1;
}

.event-filtered{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-events-container--total-events-card{
    display: flex;
    justify-content: space-between;
    border: 3px solid #80c37b;
    flex-grow: 1;
    background-color: #eeeeee;
    align-items: center;
    border-radius: 5px;
}

.total-events-container--total-events-card p{
    margin: 5px 10px;
    font-size: 15px;
    font-weight: bold;

}

.total-events-container--total-events-card strong{
    margin: 5px 10px;
    font-size: 22px;
}

.individual-event-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 7px;
    border-radius: 10px; 
    height: 20px;  
    margin-top: 10px;
}

.individual-event-details--individual-event-item{
    background-color: #ddeef9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.individual-event-details--individual-event-item p{
    font-size: 15px;
    font-weight: bold;
}

.individual-event-details--individual-event-item strong {
    font-size: 22px;
}


/* Responsive  */
/* Media Query 768px */

@media (max-width: 768px) {
    .search-container{
        gap: 1rem;
        margin: .5rem 0px;
        padding: .5rem 0;
        flex-wrap: wrap;
    }

    .header-container--menu-icon-container--user-profile{
        justify-content: space-between;
        width: 100%;
    }

    .header-container--menu-icon-container {
        flex-direction: column;
    }

    .event-container{
        flex-direction: column;
    }

    .event-container--current-event-card {
        width: 100%;
        margin-right: 0;
    }

    .individual-event-details {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1010px){

    .search-container{
        gap: 1rem;
        margin: .5rem 0px;
        padding: .5rem 0;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px){
    .header-container--menu-icon-container--menu-settings {
        flex-direction: row;
        justify-content: space-between;
        width:100%;
        flex-wrap: wrap;
    }   
}

@media (max-width: 568px){
    .search-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem;   
    }

    .search-container--select-field{
        width: -webkit-fill-available;
    }

    .search-container--select-field label, input {
        width: 100%;
    }
}

@media (max-width: 439px){
    .individual-event-details {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .header-container--menu-icon-container {
        flex-direction: column;
    }
}